/* src/components/UbicacionLink.css */
.ubicacion-link {
  margin-top: 15px;
  text-align: center;
}

.ubicacion-nombre {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  margin-bottom: 8px;
  color: #555;
  font-weight: 500;
}

.ver-mapa-btn {
  background-color: #8c735d; /* Tono dorado más oscuro y elegante */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  display: inline-flex; /* Para alinear icono y texto */
  align-items: center;
  gap: 8px; /* Espacio entre icono y texto */
}

.ver-mapa-btn:hover {
  background-color: #a78a6d; /* Un tono dorado más claro al pasar el ratón */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.map-icon {
  font-size: 1.2em; /* Ajusta el tamaño del icono */
}

/* Estilos para vista móvil */
@media (max-width: 600px) {
  .ubicacion-nombre {
    font-size: 1em;
  }

  .ver-mapa-btn {
    font-size: 0.9em;
    padding: 8px 16px;
    border-radius: 5px;
  }

  .map-icon {
    font-size: 1em;
  }
}