body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Un tono de fondo muy claro */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Para centrar el contenido en pantallas grandes */
}

.App {
  width: 100%;
  max-width: 700px; /* Ancho máximo para el contenido principal */
}