body {
  font-family: sans-serif; /* Reemplaza con la fuente principal deseada */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Un tono de fondo general */
  color: #333;
}

.App {
  /* Estilos generales de la aplicación si es necesario */
}